<div class="container" style="padding-left: 15px">
  <h1>{{ title }}</h1>
  <hr />

  <p>
    <a class="btn btn-primary" routerLink="/item/add">Add New Item</a>
  </p>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items.list">
        <td>{{ item.name }}</td>
        <td>$ {{ item.price }}</td>

        <td class="text-right">
          <a
            class="btn btn-info"
            style="margin-right: 5px"
            routerLink="../item/edit/{{ item.itemId }}"
            >Edit</a
          >
          <a
            class="btn btn-danger"
            href="#"
            (click)="deleteItem($event, item.itemId)"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <app-pagination
    [data]="items"
    [hasPrev]="items.hasPreviousPage"
    [hasNext]="items.hasNextPage"
    (onPageChange)="getPage($event)"
  ></app-pagination>
  <br />
  <br />
</div>
