<div class="container" style="padding-left: 15px">
  <h1>{{ title }}</h1>
  <hr />
  <div *ngIf="cartItems.list?.length > 0; else emptyCart">
    <div>
      <app-search (filteredCartItems)="filter($event)"></app-search>
    </div>
    <br />
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th class="text-center">Cost</th>
          <th class="text-center">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems.list">
          <td>
            {{ cartItem.item.name }}
          </td>
          <td>$ {{ cartItem.item.price }}</td>
          <td class="text-center">
            $ {{ cartItem.item.price * cartItem.quantity }}
          </td>
          <td class="text-center">
            <input
              [(ngModel)]="cartItem.quantity"
              class="badge-light"
              type="number"
              min="0"
              name="quantity"
              style="margin-right: 15px"
            />
            <button
              class="btn btn-warning"
              (click)="updateQuantity(cartItem.id, cartItem.quantity)"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <app-pagination
      [data]="cartItems"
      [hasPrev]="cartItems.hasPreviousPage"
      [hasNext]="cartItems.hasNextPage"
      (onPageChange)="getPage($event)"
    ></app-pagination>

    <ng-template #filterPages> </ng-template>
    <br />
    <br />
  </div>
  <ng-template #emptyCart>
    <h3>Your cart is empty</h3>
  </ng-template>

  <button type="submit" class="btn btn-outline-success" routerLink="../add">
    ❮❮ Continue Shopping
  </button>
</div>
